[submodule "subRepo1"]
	path = subRepo1
	url = https://github.com/liubamboo/subRepo1
	branch = main
[submodule "subRepo2"]
	path = subRepo2
	url = git@github.com:liubamboo/subRepo2.git
	branch = main
